* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook-card: hsl(208, 92%, 53%);
    --twitter-card: hsl(203, 89%, 53%);
    --instagram-card1: hsl(37, 97%, 70%); 
    --instagram-card2: hsl(329, 70%, 58%);
    --youTube-card: hsl(348, 97%, 39%);
    --toggle-dark1: hsl(210, 78%, 56%);
    --toggle-dark2: hsl(146, 68%, 55%);
    --toggle-light: hsl(230, 22%, 74%);
    /*DARK MODE*/
    --bg-dark-very-dark-blue: hsl(230, 17%, 14%);
    --bg-top-dark-very-dark-blue: hsl(232, 19%, 15%);
    --card-dark-dark-desaturated-blue: hsl(228, 28%, 20%);
    --text-dark-desaturated-blue: hsl(228, 34%, 66%);
    --text-dark-white: hsl(0, 0%, 100%);
    /*LIGHT MODE*/  
    --light-bg-white: hsl(0, 0%, 100%);
    --light-top-bg-very-pale-blue: hsl(225, 100%, 98%);
    --light-card-light-grayish-blue: hsl(227, 47%, 96%);
    --light-text-dark-grayish-blue: hsl(228, 12%, 44%);
    --light-text-very-dark-blue: hsl(230, 17%, 14%);

    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

body.light-mode {
    background: var(--light-bg-white);
}

body.dark-mode {
    background: var(--bg-dark-very-dark-blue);
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;
    border-radius: 0 0 10px 10px;
}

.header-container h1 {
    margin-bottom: 5px;
}

.header-container p, .mode {
    font-size: 1rem;
    font-weight: 700;
}

.header-container p.light-mode, .mode.light-mode {
    color: var(--light-text-dark-grayish-blue);
}

.header-container p.dark-mode, .mode.dark-mode {
    color: var(--text-dark-desaturated-blue);
}

.header-container.light-mode {
    background-color: var(--light-top-bg-very-pale-blue);
}

.header-container.dark-mode {
    background-color: var(--bg-top-dark-very-dark-blue);
}

h1.light-mode {
    color: var(--light-text-very-dark-blue);
}

h1.dark-mode, h2.dark-mode {
    color: var(--text-dark-white) !important;
}

h3.dark-mode {
    color: var(--text-dark-desaturated-blue);
}

h2.light-mode, h3.light-mode {
    color: var(--light-text-dark-grayish-blue);
}

.toggle-mode {
    width: 100%;
    margin: 30px 0 0px;
    padding-top: 30px;
    border-top: 1px solid var(--light-text-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-container {
    display: flex;
    position: relative;
    width: 50px;
}

#toggle {
    display: none;
}

.circle {
    position: absolute;
    background: var(--light-bg-white);
    width: 20px;
    height: 20px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
}

#toggle-switch {
    width: 100%;
    height: 25px;
    border-radius: 25px;
}

#toggle-switch.light-mode {
    background: var(--toggle-light);
}

#toggle-switch.dark-mode {
    background: linear-gradient(to right, var(--toggle-dark1), var(--toggle-dark2));
}


#toggle:checked~.circle {
    left: 25px;
}

#toggle:checked~#toggle-switch {
    background: linear-gradient(to right, var(--toggle-dark1), var(--toggle-dark2));
}

.cards-container {
    width: 90%;
    margin: auto;
}

.card-info {
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
     margin: 0 0 30px;
     padding: 30px;
     border-radius: 5px 5px 10px 10px;
}

#facebook-info {
    border-top: 5px solid var(--facebook-card);
}

#twitter-info {
    border-top: 5px solid var(--twitter-card);
}

#instagram-info {
    position: relative;
}

#instagram-info::before {
    content: "";
    position: absolute;
    width: 99%;
    height: 3px;
    background: linear-gradient(to right, var(--instagram-card1), var(--instagram-card2)) border-box;
border-radius: 5px 5px 0 0;
border: 1px solid transparent;
top: 0; 
}

#youtube-info {
    border-top: 5px solid var(--youTube-card);
}

.card-info.light-mode {
    background-color: var(--light-card-light-grayish-blue);
}

.card-info.dark-mode, .stat.dark-mode {
    background-color: var(--card-dark-dark-desaturated-blue);
}

.card-info .user {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.card-info img {
    margin-right: 10px;
}

.card-info h2 {
    margin: 30px 0 0;
    font-size: 4.5rem;
}

.card-info h2.light-mode {
    color: var(--light-text-very-dark-blue);
}

.card-info p.light-mode {
    color: var(--light-text-dark-grayish-blue);
}

.card-info p.dark-mode {
    color: var(--text-dark-desaturated-blue)
}

.card-info p:nth-of-type(2) {
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.followers-change {
    font-weight: 700;
}

.growth {
    display: flex;
    gap: 5px;
    color: var(--lime-green) !important;
}

.decrease {
    color: var(--bright-red) !important;
}

.followers-change img {
    vertical-align: middle;
    margin-bottom: 4px;
}

.social-stats_container {
    width: 90%;
    margin: auto;
}

.social-stats_container h2 {
    margin: 50px 0 30px;
}

.stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
}

.stat.light-mode {
    background-color: var(--light-card-light-grayish-blue);
}

.result-stats, .social-stats {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.results {
    font-size: 2.5rem;
    font-weight: 700;
}

.results.light-mode {
    color: var(--light-text-very-dark-blue);
}

.results.dark-mode {
    color: var(--text-dark-white);
}

.social-stats>img {
    width: 30px;
    height: 30px;
    align-self: flex-end;
}

.stats-info {
    display: flex;
    gap: 10px;
}

.attribution.dark-mode {
    color: var(--text-dark-desaturated-blue) !important;
}

.attribution.mode.light-mode {
    color: var(--light-text-dark-grayish-blue);
}

.attribution {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {

    .header-container {
        flex-direction: row;
        align-items: flex-start;
        padding: 60px;
    }

    .toggle-mode {
        border-top: none;
        justify-content: flex-end;
        gap: 20px;
        padding-top: 0;
        width: 50%;
        margin: 0;
    }

    .title-container {
        width: 50%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    .stat {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1150px) {

    .cards-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .stats-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1366px) {
    .header-container {
        margin: auto;
    }

    .title-container, .toggle-mode {
        max-width: 750px;
    }

}


